.wrapper {
    position: relative;
    box-sizing: border-box;
}

.inner {
    position: relative;
    padding-top: rem(200px);
    padding-bottom: rem(120px);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: $mantine-breakpoint-md) {
        padding-bottom: rem(80px);
        padding-top: rem(80px);
    }
}

.group {
    flex: 1;
    min-width: calc(50% - 0.5rem);
    min-height: fit-content;

    &:nth-of-type(2) {
        @media (max-width: $mantine-breakpoint-lg) {
            display: none;
        }
    }

    @media (max-width: $mantine-breakpoint-lg) {
        flex: initial;
        margin-bottom: 3rem;
    }
}

.title {
    word-break: break-word;
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    font-size: rem(62px);
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(42px);
        line-height: 1.2;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(32px);
        line-height: 1.2;
    }
}

.description {
    margin-top: var(--mantine-spacing-xl);
    font-size: rem(24px);

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(18px);
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 2);

    @media (max-width: $mantine-breakpoint-md) {
        margin-top: var(--mantine-spacing-xl);
    }
}

.control {
    height: rem(54px);
    padding-left: rem(38px);
    padding-right: rem(38px);

    @media (max-width: $mantine-breakpoint-md) {
        height: rem(54px);
        padding-left: rem(18px);
        padding-right: rem(18px);
        flex: 1;
    }
}

.imageContainer {
    position: relative;
    height: 100%;
    min-height: rem(384px);
    width: 100%;

    &:hover > .bigImage:nth-of-type(4) {
        transform: rotate(22.5deg) translateX(0%) translateY(15%) scale(110%);
    }
    &:hover > .bigImage:nth-of-type(5) {
        transform: rotate(-22.5deg) translateX(-100%) translateY(-50%) scale(110%);
    }
    &:hover > .bigImage:nth-of-type(6) {
        transform: translateX(-50%) scale(120%);
    }
    &:hover > .smallImage:nth-of-type(1) {
        transform: rotate(-30deg) translateX(-100%) translateY(-300%);
    }
    &:hover > .smallImage:nth-of-type(2) {
        transform: rotate(60deg) translateX(100%) translateY(-300%);
    }
    &:hover > .smallImage:nth-of-type(3) {
        transform: rotate(-45deg) translateX(-200%) translateY(0%);
    }
}

.bigImage, .smallImage {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: var(--mantine-radius-md);
    transition: var(--custom-card-transition-delay);
    border: 1px solid black;
}

.bigImage {
    width: 50%;
    height: 50%;

    &:nth-of-type(4) {
        transform: rotate(5deg) translateX(-40%) translateY(5%);
    }
    &:nth-of-type(5) {
        transform: rotate(-5deg) translateX(-60%) translateY(-10%);
    }
}


.smallImage {
    width: 20%;
    height: 20%;

}