.header {
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: fixed;
    background: var(--mantine-color-body);
    border-bottom: 1px solid var(--mantine-color-default-border);
}
    .header__body {
        width: calc(100% - 2rem);
        max-width: 120rem;
        margin: auto;
    }
    .header__title {
        z-index: 10;
        margin: 0;
        font-family: var(--mantine-font-family-monospace);
    }