.main {
    padding-top: 4rem;
}
    .main__body {
        width: calc(100% - 2rem);
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
        .main__body--guide-item {
            max-width: 120rem;
        }
    .main__article {
    }
    .main__return-button {
        margin-top: 2rem;
    }
    .main__image {
        object-fit: cover;
        object-position: center;
        height: 20rem;
        width: 100%;
        border-radius: var(--mantine-radius-sm);
    }
    .main__block {
        flex: 1;
        height: 20rem;
    }
    .main__title {
        margin: 0;
        font-size: 2rem;
    }
    .main__description {
        margin: 0 0 1rem 0;
    }