.main {
    padding-top: 4rem;
}
    .main__body {
        width: calc(100% - 2rem);
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
        .main__body--guide-item {
            max-width: 120rem;
        }
    .main__welcome {
        margin-top: 15svh;
    }
    .main__article {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        overflow-x: hidden;
    }
    .main__nav-button {
        flex: 1;
        font-weight: 400;
        height: 5rem;
    }
    .main__nav-text-wrapper {}
        .main__nav-text-wrapper--previous {
            text-align: right;
        }
        .main__nav-text-wrapper--next {
            text-align: left;
        }
    .main__nav-title {
        font-size: 1.2em;
        margin: 0 0 0.75rem 0;
    }
    .main__nav-description {
        color: var(--mantine-color-gray-6);
        font-size: 1em;
        margin: 0;
    }
    .main__return-button {
        margin-top: 2rem;
    }
    .main__image {
        object-fit: cover;
        object-position: center;
        height: 20rem;
        width: 100%;
        border-radius: var(--mantine-radius-md);
    }
    .main__block {
        flex: 1;
        min-width: calc(50% - 1rem);
        height: 20rem;
        overflow: hidden;
        overflow-wrap: break-word;
    }
    .main__title {
        margin: 0;
        font-size: 2rem;
    }
        .main__title--welcome {
            font-weight: 900;
            font-family: var(--mantine-font-family-monospace);
            margin: 0 0 1rem 0;
            line-height: 4rem;
            font-size: 4rem;
        }
    .main__description {
        margin: 0 0 1rem 0;
    }
        .main__description--welcome {
            border-left: 0.25rem solid var(--mantine-color-default-border);
            padding-left: 2rem;
            font-size: 1.25rem;
            font-family: var(--mantine-font-family);
        }
    .main__posters-container {
        position: relative;
        margin-top: 2rem;
        height: 30rem;
        margin-bottom: 2rem;
    }
    .main__poster {
        object-fit: cover;
        object-position: center;
        height: 24rem;
        position: absolute;
        width: 60%;
        border-radius: var(--mantine-radius-md);
        transition: 0.15s ease
    }
        .main__poster:hover {
            transform: scale(105%)
        }
        .main__poster--first {
            z-index: 1;
        }
        .main__poster--second {
            z-index: 2;
            top: 3rem;
            left: 50%;
            transform: translateX(-52.5%);
        }
            .main__poster--second:hover {
                transform: scale(105%) translateX(-50%)
            }
        .main__poster--third {
            z-index: 3;
            top: 6rem;
            right: 0;
        }
    .main__buttons-container {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }
    .main__button--welcome {
        height: 3rem;
    }