.title {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    font-size: rem(62px);
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    margin: var(--mantine-spacing-xl);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(42px);
        line-height: 1.2;
    }
}