.title {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    font-size: rem(62px);
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    margin: var(--mantine-spacing-xl);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(42px);
        line-height: 1.2;
    }
}

h1, h2, h3 {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    font-weight: 900;
    line-height: 1.1;
}

.briefContainer {
    margin: var(--mantine-spacing-xl) auto;
    width: 100%;
    height: rem(512px);
    position: relative;
}

.briefImage {
    top: 0;
    left: 0;
    position: absolute;
    width: 60%;
    border-radius: var(--mantine-radius-md);

    @media (max-width: $mantine-breakpoint-md) {
        width: 90%;
    }
}

.briefBox {
    position: absolute;
    color: #ffffff;
    background: #090012;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 80%;
    border-radius: var(--mantine-radius-md);
}