:root {
    /* Base theme */
    --custom-header-backdrop-blur: blur(12px);
    --custom-sidebar-backdrop-blur: blur(12px);
    /* Transition delay */
    --custom-transition-delay: 0.15s ease;
    --custom-card-transition-delay: 0.35s ease;
    /* Dark theme */
    --custom-dark-header-background-color: #00000044;
    --custom-dark-header-mobile-background-color: #100a18;
    --custom-dark-sidebar-background-color: #00000066;
    --custom-dark-sidebar-mobile-background-color: #100a18;
    --custom-dark-main-background-color: radial-gradient(ellipse 80vh 50vh at 50vh -20vh, rgba(145, 119, 198, 0.3), #00000000);
    --custom-dark-theme-icon-color: #ffffff;
    --custom-dark-text-secondary-color: #878787;
    /* Light theme */
    --custom-light-header-background-color: #ffffff44;
    --custom-light-main-background-color: radial-gradient(ellipse 80vh 50vh at 50vh -20vh, rgba(87, 0, 255, 0.3), #00000000);
    --custom-light-theme-icon-color: #000000;
    --custom-light-text-secondary-color: #3f4344;
}

body {
    overflow-x: hidden;
    background-color: light-dark(#ffffff, #090012);
    background-size: 400px;
    background-image: light-dark(none, url("https://assets-global.website-files.com/639997ad49dddb11d0c0efba/639a05a5c0944b02ab3529dd_grid.svg"));
}